{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <hr/>
    <form action="{{ url_for('index') }}" method="POST">
        {{ keyGenForm.hidden_tag() }}
        Сгенерировать ключ длиной
        <select name="{{ ATTR_KEY_LEN }}">
            {% for len in get_key_lengths() %}
            <option value="{{ len }}">{{ len }} бит</option>
            {% endfor %}
        </select>
        {{ keyGenForm.submit() }}
    </form>
    <div class="header">Параметры ключа</div>
    <form action="{{ url_for('index') }}" method="POST">
        {{ keySetForm.hidden_tag() }}
        {{ keySetForm.keyE.label }}: {{ keySetForm.keyE(class=keyField) }}
        {{ keySetForm.keyD.label }}: {{ keySetForm.keyD(class=keyField) }}
        {{ keySetForm.keyN.label }}: {{ keySetForm.keyN(class=keyField) }}
        {{ keySetForm.submit() }}
    </form>
    <hr/>
    <div class="wrapper">
        <div class="header">Исходное сообщение</div>
        <form action="{{ url_for('index') }}" method="POST" enctype="multipart/form-data">
            {{ messageForm.hidden_tag() }}
            {{ messageForm.message(wrap=hard, cols=90, rows=6,
                  placeholder='Введите сообщение', value=manager.message) }}
            <div class="go-wrapper">
                Или загрузите текстовый файл: {{ messageForm.inFile() }}
                <div class="go">{{ messageForm.submit() }}</div>
            </div>
        </form>
    </div>
    {% if manager.encryptedData %}
    <hr/>
    <div class="wrapper">
        <div class="header">Зашифрованное сообщение</div>
        <div class="pre-wrapper"><pre>{{ manager.describe_encrypted() }}</pre></div>
    </div>
    {% endif %}
    {% if manager.decryptedData %}
    <hr/>
    <div class="wrapper">
        <div class="header">Результат дешифровки</div>
        <div class="pre-wrapper"><pre>{{ manager.decryptedData }}</pre></div>
    </div>
    {% endif %}
{% endblock %}